body {
  margin: 0;
  background: radial-gradient(46.82% 46.82% at 50% 50%, rgba(184, 223, 243, 0.25) 0%, rgba(0, 92, 175, 0.25) 100%);
  background-color: rebeccapurple;
  padding: 24px 0;
  font-size: 32px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
}

